.v{
    margin: 10px;
    font-style: initial;
    color: brown;
    
}

.r{
   margin:7px;
   font-style: oblique;
   color:rgb(0, 241, 16);

}

.e{
    margin:3px;
    font-style: oblique;
    color: darkolivegreen;
}
